<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo Enviado</title>
    <link rel="stylesheet" href="/public/stylesheets/css/reset.css">
    <link rel="stylesheet" href="/public/stylesheets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="div_errUpload">
            <h1 class="sucess">Arquivo Enviado</h1>
            <a href="/"><button class="bt_upload">Voltar ao início</button></a>
        </div>
    </div>
</body>
</html>