<!DOCTYPE html>
<html lang="pt_Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/css/reset.css">
  <link rel="stylesheet" href="/public/stylesheets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="tituloIndex">
    <h1>Gerador de iframe</h1>
  </div>
  
  <div class="container">
    
    <div class="div_idex">
      <a href="/uploads"><button class="bt_index">Upload de PDF</button></a>
      <a href="/iframes"><button class="bt_index">Iframes Criados</button></a>
    </div>
    <iframe src="" width="100%" height="1000px" frameborder="0"></iframe>
  </div>
</body>
</html>